/* Fonts and Variables */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,700;1,400&family=Cutive+Mono&family=Poppins&family=Dancing+Script&family=Exo&family=Roboto:wght@100&display=swap');

// $colorBG:linear-gradient(-30deg, hsl(200, 80%, 20%) 70%, hsl(340, 83%, 55%) 200%) no-repeat scroll 0 !default;

:root {
    --hue: 240;
    --hueTwo: 200;
    --hueAscent: 180;
    --satAscent: 100%;
    --lightAscent: 60%;

    --sat: 60%;
    --light: 15%;
    --lightFactor: 1;
    --alpha: 1;
    // --lightfactor: 1;
    --textColor: white;
    // --colorBody: linear-gradient(-30deg, hsla(var(--hue, 239), var(--sat, 40%), calc(var(--light, 42%) * var(--lightFactor, 1)), var(--alpha, 1)) 70%, hsla(var(--hue, 340), var(--sat, 83%), calc(var(--light, 55%) * var(--lightFactor, 1)), var(--alpha, 1)) 200%) no-repeat scroll 0 !default;
    --fontScale: 1;
    --fontFamily: "Poppins", "Verdana";
}


// $colorBG:linear-gradient(-30deg, hsla(var(--hue, 239), var(--sat, 40%), calc(var(--light, 42%) * var(--lightFactor, 1)), var(--alpha, 1)) 70%, hsla(var(--hue, 340), var(--sat, 83%), calc(var(--light, 55%) * var(--lightFactor, 1)), var(--alpha, 1)) 200%) no-repeat scroll 0 !default;
$color: var(--textColor, "#EFF");
$fontFamily: var(--fontFamily),
"Exo",
"Verdana";
// $fontHeading:'Bebas Neue','Comic Neue','Inter',"Play",'Verdana';
$fonth1: var(--fontFamily),
'Bebas Neue',
'Arial';
$fonth2: var(--fontFamily),
'Verdana',
'Arial';
$fonth3: var(--fontFamily),
'Comic Neue',
'Arial';
$fonth4: var(--fontFamily),
'Bebas Neue',
'Verdana',
'Arial';
$fonth5: var(--fontFamily),
'Dancing Script',
'Verdana',
'Arial';
$fonth6: var(--fontFamily),
'Dancing Script',
'Verdana',
'Arial';
$fontCode: 'Cutive Mono',
'Arial';
$fontHand: 'Dancing Script',
'Exo';
$accentColor: hsl(var(--hueAscent), var(--lightAscent), var(--lightAscent));
// $colorButton:linear-gradient(0deg, hsl(182, 100%, 52%) 10%, hsl(182, 100%, 73%) 80%, hsl(182, 100%, 52%) 100%) no-repeat scroll 0 !default;
$colorButton: linear-gradient(0deg, hsl(var(--hueAscent), var(--lightAscent), 42%) 10%, hsl(var(--hueAscent), var(--lightAscent), 60%) 80%, hsl(var(--hueAscent), var(--lightAscent), 32%) 100%) no-repeat scroll 0 !default;
$colorButtonText: hsl(197, 80%, 22%);
$linkcolor: #ddd;
// $colorBody:hsl(237, 79%, 9%);
// $colorBody:linear-gradient(0deg, hsl(182, 100%, 42%) 10%, hsl(182, 100%, 60%) 80%, hsl(182, 100%, 32%) 100%) no-repeat scroll 0 !default;
$colorBody: var(--colorBody);
//linear-gradient(-30deg, hsla(var(--hue, 239), calc(var(--sat) / var(--lightFactor)), calc(var(--light) * var(--lightFactor)), var(--alpha)) 70%, hsla(var(--hue), calc(var(--sat) / var(--lightFactor)), calc(var(--light) * var(--lightFactor)), var(--alpha, 1)) 200%) no-repeat scroll 0;

body {
    background: hsl(var(--hue), var(--sat), calc(var(--light) * var(--lightFactor)));
    text-shadow: var(--textShadow);
}