/* Fonts and Variables */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,700;1,400&family=Cutive+Mono&family=Dancing+Script&family=Exo&family=Roboto:wght@100&display=swap');

$colorBG:linear-gradient(-30deg, hsl(239, 40%, 42%) 70%, hsl(340, 83%, 55%) 200%) no-repeat scroll 0 !default;

:root {
    --hue: 239;
}

// $colorBG:linear-gradient(-30deg, hsla(var(--hue, 239), var(--sat, 40%), calc(var(--light, 42%) * var(--lightFactor, 1)), var(--alpha, 1)) 70%, hsla(var(--hue, 340), var(--sat, 83%), calc(var(--light, 55%) * var(--lightFactor, 1)), var(--alpha, 1)) 200%) no-repeat scroll 0 !default;
$color:#EEF !default;
$fontFamily: "Exo",
'Verdana' !default;
// $fontHeading:'Bebas Neue','Comic Neue','Inter',"Play",'Verdana';
$fonth1:'Bebas Neue',
'Arial';
$fonth2:'Verdana',
'Arial';
$fonth3:'Comic Neue',
'Arial';
$fonth4:'Bebas Neue',
'Verdana',
'Arial';
$fonth5:'Dancing Script',
'Verdana',
'Arial';
$fonth6:'Dancing Script',
'Verdana',
'Arial';
$fontCode:'Cutive Mono',
'Arial';
$fontHand:'Dancing Script',
'Exo';
$accentColor:hsl(180, 100%, 50%);
$colorButton:linear-gradient(0deg, hsl(182, 100%, 52%) 10%, hsl(182, 100%, 73%) 80%, hsl(182, 100%, 52%) 100%) no-repeat scroll 0 !default;
$colorButtonText:hsl(197, 80%, 22%);
$linkcolor:#ddd;
$colorBody:hsl(237, 79%, 9%);
$footcolor:hsl(197, 61%, 63%);
$siteTitleValue:'FormHelper';